In [1]:
# 라이브러리 설치
!pip install gdrive_dataset

Collecting gdrive_dataset
  Downloading gdrive_dataset-0.0.5-py3-none-any.whl (2.1 kB)
Requirement already satisfied: googledrivedownloader in /usr/local/lib/python3.7/dist-packages (from gdrive_dataset) (0.4)
Installing collected packages: gdrive-dataset
Successfully installed gdrive-dataset-0.0.5

In [2]:
from gdrivedataset import loader

file_id = "1RDAVsCCQCs1bxjq_2Q6qPlGeztnQ2AMD"
loader.load_from_google_drive(file_id)

Downloading 1RDAVsCCQCs1bxjq_2Q6qPlGeztnQ2AMD into ./dataset.zip... Done.
========== files ============

data/data

=============================

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [5]:
DATA_DIR = 'data'
train_df = pd.read_csv(os.path.join(DATA_DIR, 'data/train.csv'))

In [6]:
train_df.head()

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight,Target
0,1,M,0.605,0.470,0.115,1.1140,0.3925,0.2910,0.3100,15
1,2,I,0.430,0.315,0.095,0.3780,0.1750,0.0800,0.1045,8
2,3,I,0.580,0.490,0.195,1.3165,0.5305,0.2540,0.4100,18
3,4,M,0.535,0.405,0.175,1.2705,0.5480,0.3265,0.3370,13
4,5,I,0.310,0.235,0.090,0.1270,0.0480,0.0310,0.0400,6

In [7]:
train_df['Gender'].unique()

array(['M', 'I', 'F'], dtype=object)

In [8]:
train_df.isna()

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight,Target
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1248,False,False,False,False,False,False,False,False,False,False
1249,False,False,False,False,False,False,False,False,False,False
1250,False,False,False,False,False,False,False,False,False,False
1251,False,False,False,False,False,False,False,False,False,False
1252,False,False,False,False,False,False,False,False,False,False

In [9]:
na = []
for col in train_df.columns:
  na.append(sum(train_df[col].isna()))
print(na)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [10]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
label_encoder.fit(train_df['Gender'])
train_df['Gender'] = label_encoder.fit_transform(train_df['Gender'])
train_df.head()

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight,Target
0,1,2,0.605,0.470,0.115,1.1140,0.3925,0.2910,0.3100,15
1,2,1,0.430,0.315,0.095,0.3780,0.1750,0.0800,0.1045,8
2,3,1,0.580,0.490,0.195,1.3165,0.5305,0.2540,0.4100,18
3,4,2,0.535,0.405,0.175,1.2705,0.5480,0.3265,0.3370,13
4,5,1,0.310,0.235,0.090,0.1270,0.0480,0.0310,0.0400,6

In [11]:
label_encoder.get_params()

{}

In [12]:
keys = label_encoder.classes_
values = label_encoder.transform(keys)
labels = dict(zip(keys, values))
labels

{'F': 0, 'I': 1, 'M': 2}

In [13]:
train_x = train_df.drop(['id', 'Target'], axis=1)
train_y = train_df['Target']

In [14]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(train_x, train_y)

RandomForestRegressor()

In [15]:
test_df = pd.read_csv(os.path.join(DATA_DIR, 'data/test.csv'))
test_df.head()

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight
0,1,F,0.595,0.470,0.155,1.121,0.4515,0.1780,0.1550
1,2,M,0.580,0.450,0.150,0.927,0.2760,0.1815,0.3600
2,3,I,0.260,0.205,0.070,0.097,0.0415,0.0190,0.0305
3,4,M,0.590,0.460,0.130,1.102,0.4550,0.2055,0.3300
4,5,F,0.595,0.465,0.140,1.113,0.5175,0.2440,0.3050

In [16]:
test_df['Gender'] = label_encoder.fit_transform(test_df['Gender'])
test_df.head()

,id,Gender,Lenght,Diameter,Height,Whole Weight,Shucked Weight,Viscra Weight,Shell Weight
0,1,0,0.595,0.470,0.155,1.121,0.4515,0.1780,0.1550
1,2,2,0.580,0.450,0.150,0.927,0.2760,0.1815,0.3600
2,3,1,0.260,0.205,0.070,0.097,0.0415,0.0190,0.0305
3,4,2,0.590,0.460,0.130,1.102,0.4550,0.2055,0.3300
4,5,0,0.595,0.465,0.140,1.113,0.5175,0.2440,0.3050

In [17]:
test_x = test_df.drop(['id'], axis=1)

In [18]:
prediction = model.predict(test_x)

In [19]:
prediction = np.round(prediction)

In [20]:
submission = pd.read_csv(os.path.join(DATA_DIR, 'data/sample_submission.csv'))
submission['Target'] = prediction

In [21]:
submission.to_csv('submit.csv', index=False)

In [22]:
train_df['Target'].head()

0    15
1     8
2    18
3    13
4     6
Name: Target, dtype: int64